# Note: for production deployment, all environment variables must be configured in AWS Lambda → Configuration → Environment variables

# Login
USER_NUMBER = ""
USER_PASSWORD = ""

# Frontend
SCHEDULE_URL = "https://book.bnh.org.nz"
LOGIN_URL = "https://book.bnh.org.nz/auth/login"

# API Endpoints
## User
LOGIN_API = "https://admin.bnh.org.nz/api/v1/auth/login" # recaptcha v3
LOGOUT_API = "https://admin.bnh.org.nz/api/v1/auth/logout"
USER_DATA_API = "https://admin.bnh.org.nz/api/v1/users"

## Courts
COURT_SCHEDULE_API = "https://admin.bnh.org.nz/api/v1/bookings/all/" # requires date (../YYYY-MM-DD)
BOOKING_API = "https://admin.bnh.org.nz/api/v1/bookings/create" # recaptcha v3
PAYMENT_API = "https://admin.bnh.org.nz/api/v1/payment/order" # recaptcha v3; requires user id and booking id (..?user_id={user_id}&order_id={booking_id})

# AWS
## (Optional for local development) AWS S3 Bucket Configuration
## For production deployment, it enables remote config fetching without redeployment
S3_BUCKET = ""
S3_KEY = ""