## Note: for production deployment, all environment variables must be configured in AWS Lambda → Configuration → Environment variables

## Login
USER_NUMBER = ""
USER_PASSWORD = ""

## URLs / Endpoints
# User
LOGIN_URL = "https://admin.bnh.org.nz/api/v1/auth/login"
LOGOUT_URL = "https://admin.bnh.org.nz/api/v1/auth/logout"
USER_DATA = "https://admin.bnh.org.nz/api/v1/users"

# Courts
COURT_SCHEDULE = "https://admin.bnh.org.nz/api/v1/bookings/all/" # requires date (../YYYY-MM-DD)
BOOKING_URL = "https://admin.bnh.org.nz/api/v1/bookings/create"
PAYMENT_URL = "https://admin.bnh.org.nz/api/v1/payment/pay/credits/" # requires user id and booking id (../{user_id}/{booking_id})

## (Optional for local development) AWS S3 Bucket Configuration
## For production deployment, it enables remote config fetching without redeployment
S3_BUCKET = ""
S3_KEY = ""